{% extends "base.html" %}
{% load i18n %}
{% block title %}
   Login 
  {% endblock %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row login-page">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded">
      <h1 class="text-center">{% trans "Sign In" %}</h1>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        <div class="user-details p-5">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="primaryAction btn btn-primary" type="submit">{% trans "Sign In" %}</button>
          <a class="button secondaryAction text-white btn btn-primary m-3"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <p class="p-3">{% blocktrans %}If you have not created an account yet, then please
            <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}