/*style the navigation*/
.nav-link{
    color: #f4f4f4;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}
.navbar-toggler{
    color: #f4f4f4;
}
/*style the homepage*/
.col{
    margin-top: 90px;
}
.btn-change{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.top-text{
    margin-top: 2%;
    height: 200px;
}
/*create animation for image on homepage*/
.hero{
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 6%;
}
.img-container{
 background-image: url(../images/bmw-background-2.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 padding-top: 200px;
 padding-bottom: 250px;
 text-align: center;
 margin-top: 2%;
 min-width: 100%;
 overflow: hidden;
 animation-name: hero-zoom;  
 animation-duration: 3s;
 animation-fill-mode: forwards;
}
@keyframes hero-zoom{ /* image is animated here*/
    from{
transform: scale(3);
    }
 to{
transform: scale(1);
}
}
/*style the intro text*/
.intro-text{
    text-align: center;
}
#hide-btn{
    margin-top: 3%;
}
.text-delete{
    text-align: center;
    margin: 35px;
}
.register-btn{
    font-size: 25px;
}
.background-img{
    background: url('../images/bmw-background.jpeg') center;
    background-size: cover;
}
/*style the review cards*/
.hide{
    padding: 100px;
}
.card-img-top{
    border-radius: 3%;
    margin-top: 5px;
}
.view-btn{
    text-align: center;
    margin-top: 10%;
}
.btn-size{
    width: 200px;
}
/*style the detailed review page*/
.detail-review-container{
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 60px;
    display: flex;
    justify-content: center;
    
}
.detail-review-card{
    width: 35%;
    padding: 40px;
}
.detail-img-container{
    display: flex;
    justify-content: space-around;
    animation-name: animate-detail-img-zoom;  
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes animate-detail-img-zoom{ /* image is animated here*/
    from{
transform: scale(2);
    }
 to{
transform: scale(1.1);
}
}
/*style the comments*/
.comments{
    display: flex;
    flex-direction: column;
}


