/*style the navigation*/
.nav-link{
    color: #f4f4f4;
    font-size: 15px;
}
.navbar-toggler{
    color: #f4f4f4;
}
/*style the homepage*/
.col{
    margin-top: 90px;
}
.btn-change{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.top-text{
    margin-top: 2%;
    height: 200px;
}
/*create animation for image on homepage*/
.hero{
    overflow: hidden;
    margin-top: 2%;
}
.img-container{
 background-image: url(../images/bmw-background.jpeg);
 background-size: cover;
 background-repeat: no-repeat;
 padding-top: 200px;
 padding-bottom: 250px;
 margin-top: 2%;
 min-width: 100%;
 overflow: hidden;
 animation-name: hero-zoom;  
 animation-duration: 3s;
 animation-fill-mode: forwards;
}
@keyframes hero-zoom{ /* själva animeringen sker här*/
    from{
transform: scale(1);
    }
 to{
transform: scale(1.1);
}
}
