{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!--Position the form and render it-->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-4">
            <h4 class="display-3 text-center"> Add a comment</h3>
                <div class="form-group shadow">
                    <div class="form-group">
                        <form method="POST" class="form-control">
                            {%csrf_token%}
                            <div class="create-container">
                                {{ form.author|as_crispy_field }}
                                {{ form.body|as_crispy_field }}
                            </div>
                    </div>
                </div>
                <button class="btn btn-primary"> Add comment </button>
        </div>
        </form>
    </div>
</div>

{% else %}
<div class="row row-cols-1 row-cols-md-4">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
  <h3 class="text-center"> Please <a href="{% url 'account_login' %}">log in</a> to perform this action </h3>
  </div>
</div>
{% endif %}
{% endblock %}