<!--Contac us page-->
{% extends 'base.html' %}
{% block title %}
   Contact us
  {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
        <h2 class="text-center"> Contact us </h2>
        <h2 class="text-center"> Need help with something? Don't hesitate to contact us. Please send an email to:<a href="https://login.live.com/login.srf?wa=wsignin1.0&rpsnv=13&ct=1658605506&rver=7.0.6737.0&wp=MBI_SSL&wreply=https%3a%2f%2foutlook.live.com%2fowa%2f%3fnlp%3d1%26RpsCsrfState%3d581512e2-e906-23be-a885-0bf06b8c9dc1&id=292841&aadredir=1&whr=outlook.com&CBCXT=out&lw=1&fl=dob%2cflname%2cwld&cobrandid=90015" target="_blank">
            wiri@hotmail.se</a></h2>
    </div>
</div>
{% endblock %}