{% extends 'base.html' %}
{% block title %}
   Create review
  {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--Position the form and render it-->
{% if user.is_authenticated %}
<div class="container">
    <div class=row>
        <div class="col-md-12 col-sm-12 col-lg-8 offset-lg-2 p-4">
            <h1 class="display-3 text-center"> Create review</h1>
            <div class="shadow p-3 rounded text-white bg-dark mt-md-5">
                <h2 class="text-center"> Welcome to the create review page, this is where your review is created ,
                    simply put in the information in the input fields and when your done click "upload review".
                    When you have uploaded the review admin will inspect the review and if your post
                    have relevant content it will be approved and showed on the page "Show all reviews", if the review
                    contains
                    graphic pictures or words it will be deleted and not approved. If you choose to
                    not upload a picture a default picture will be uploaded for you, you can´t create a title if it
                    alredy exists, your
                    title must be unique, price is in Euro &#8364;.
                </h2>
            </div>
            <!--Form for creating a review to the database-->
            <div class="form-group shadow">
                <form method="POST" class="form-control" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="create-container">
                        {{ form.title|as_crispy_field }}
                        {{ form.price|as_crispy_field }}
                        {{ form.year|as_crispy_field }}
                        {{ form.fuel_type|as_crispy_field }}
                        {{ form.category|as_crispy_field }}
                        {{ form.body|as_crispy_field }}
                        {{ form.image|as_crispy_field }}
                        <button class="btn btn-primary m-3"> Upload review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row row-cols-1 row-cols-md-4">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
        <h3 class="text-center"> Please <a href="{% url 'account_login' %}">log in</a> to perform this action </h3>
    </div>
</div>
{% endif %}
{% endblock %}