{% extends 'base.html' %}
{% block title %}
   Delete review
  {% endblock %}
{% block content %}
<!--Delete the review only if user is authorized and have created the post-->
{% if user.is_authenticated %}
{% if user.id == post.author.id%}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 shadow-lg delete-review">
            <h1 class="display-3 text-center"> Delete review</h1>
            <div class="form-group">
                <h2 class="text-center"> You are about to delete this post with the title {{post.title}}, are you sure?
                    </h2>
                    <form method="POST" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div class="text-delete">
                            <a href="{% url 'detail-review' post.pk %}" class="btn btn-success move-btn"> No, take me to the review</a>
                            <button class="btn btn-danger"> Yes, delete the review</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row row-cols-1 row-cols-md-4">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
  <h1 class="text-center"> You can´t update this post because it have been created by another user </h1>
  </div>
</div>
{% endif %}
{% else %}
<div class="row row-cols-1 row-cols-md-4">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
  <h2 class="text-center"> Please <a href="{% url 'account_login' %}">log in</a> to perform this action </h2>
  </div>
</div>
{% endif %}
{% endblock %}