{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 col-m-12 col-lg-12 detail-review-container shadow-lg bg-dark bg-gradient rounded">
            <div class="detail-img-container">
                {% if "placeholder" in post.image.url %}
                <img src="/static/images/dashboard.jpg" class="img-fluid rounded animate-detail-img" width="400" height="500" alt="Picture of a dashboard">
                {%else%}
                <img src="{{post.image.url}}" class="img-fluid rounded animate-detail-img" width="400" height="500" alt="Picture of a dashboard">
                {%endif%}
                <div class="card detail-review-card col-md-6">
                    <h4 class="card-title text-center bg-dark text-white text-center">{{post.title}}</h4>
                    <div class="card-body">
                        <p class="card-text">{{post.body}} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Tenetur
                            distinctio quo, quaerat at vero consequatur voluptates repellendus vitae aperiam! Molestias
                            consequuntur, unde odio laborum similique perspiciatis aut sint alias blanditiis.</p>
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Price: {{post.price}}</li>
                                <li class="list-group-item">Year: {{post.year}}</li>
                                <li class="list-group-item">Fuel type: {{post.fuel_type}}</li>
                            </ul>
                        </div>
                    </div>
                    <!--Only show if the user is logged in-->
                    {% if user.is_authenticated %}
                     {% if user.id == post.author.id%}
                     <div class="btn-container">
                     <div class="btn-change">
                        <a href="{% url 'update-review' post.pk %}" class="btn btn-primary">Update Review </a>
                     </div>
                     <a href="{% url 'delete-review' post.pk %}" class="btn btn-danger">Delete Review</a>
                    </div>

                     {% endif %}
                    {% endif %}
                    <small> post created by {{post.author}} {{post.create_date}}</small>
                </div>
            </div>
        </div>
        <a href="{% url 'home'%}" class="btn btn-success move-btn col-md-2 col-sm-2"> Back </a>
        <hr>
    </div>
{%if user.is_authenticated%}
<form action="{% url 'like_review' post.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="text-white btn bg-primary" name="post_like_id" value="{{post.id}}">  <i class="fa-solid fa-thumbs-up"></i> Like/Unlike <p>{{object.all_likes}}</p> </button>
</form>
{% endif %}
   <p>{{ all_comments }}</p>
<p class="card-text"> <a href="{% url 'add-comment' post.pk %}">Add a comment</a> </p>
{% if not post.comments.all %}
<div class="row">
      <h4 class="text-white text-center rounded opacity-75 bg-dark"> No comments yet</h4>
        {% else %}
        <div class="col-sm-3 p-2 comment-card" ></div>
        <button id="hide-btn" class="btn btn-primary"> Hide/Show Comments</button>
        <h5 class="card-title">Comments</h5>
        {% for comment in post.comments.all %}
        <div class="card m-3 hide">
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted"> User: {{comment.author}}</h6>
              <p class="card-text"> {{comment.body}}</p>
              <small> {{comment.date_comment}} </small>
            </div>
          </div>
        {% endfor %}
        {% endif %}
</div>
</div>

{% endblock %}