{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 detail-review-container bg-secondary bg-gradient rounded">
            <div class="detail-img-container">
                {% if "placeholder" in post.image.url %}
                <img src="/static/images/dashboard.jpg" class="img-fluid rounded animate-detail-img" width="400" height="500" alt="Picture of a dashboard">
                {%else%}
                <img src="{{post.image.url}}" class="img-fluid rounded animate-detail-img" width="400" height="500" alt="Picture of a dashboard">
                {%endif%}
                <div class="card detail-review-card">
                    <h4 class="card-title text-center bg-dark text-white text-center">{{post.title}}</h4>
                    <div class="card-body">
                        <p class="card-text">{{post.body}} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Tenetur
                            distinctio quo, quaerat at vero consequatur voluptates repellendus vitae aperiam! Molestias
                            consequuntur, unde odio laborum similique perspiciatis aut sint alias blanditiis.</p>
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Year: {{post.year}}</li>
                                <li class="list-group-item">Price</li>
                                <li class="list-group-item">Engine</li>
                            </ul>
                        </div>
                    </div>
                    <!--Only show if the user is logged in-->
                    {% if user.is_authenticated %}
                     {% if user.id == post.author.id%}
                     <div class="btn-change">
                        <a href="{% url 'update-review' post.pk %}" class="btn btn-primary">Update Review </a>
                        <a href="{% url 'delete-review' post.pk %}" class="btn btn-danger">Delete Review</a>
                     </div>
                     {% endif %}
                    {% endif %}
                    <p class="card-text"> <a href="#">Add a comment</a> </p>
                    <small> post created by {{post.author}} {{post.create_date}}</small>
                </div>
                
            </div>
        </div>
        <h3 class="comments"> this is a comment </h3>
    </div>
</div>

{% endblock %}