<div class="background-img d-flex flex-column min-vh-100">
  {% extends 'base.html' %}
  {% block content %}
  <!--Loop thorugh the database and show it with cards-->
  <button id="hide-btn" class="btn btn-primary"> hide/show</button>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for post in object_list %}
    <div class="col">
      <div class="card mb-3 shadow p-2 hide">
        <div class="card-header bg-dark text-white text-center">
          <h3>{{post.title}} </h3>
        </div>
          <img src="{{post.image.url}}" class="card-img-top" alt="picture of bmw car" width="200" height="300">
        <div class="card-body">
          <hr>
          <p class="card-text"> {{post.body}}......... </p>
          <!--Only show if the user is logged in-->
          {% if user.is_authenticated %}
           {% if user.id == post.author.id%}
            <div class="btn-change">
              <a href="{% url 'update-review' post.pk %}" class="btn btn-primary">Update </a>
              <a href="{% url 'delete-review' post.pk %}" class="btn btn-danger">Delete</a>
            </div>
            {% endif %}
          {% endif %}
          <div class="view-btn">
            <a href="{% url 'detail-review' post.pk %}" class="btn btn-danger btn-size">View review</a>
          </div>
          <p class="card-text"><small class="text-muted">Created by {{post.author.id}} </small></p>
          <p class="card-text"><small class="text-muted">Date: {{post.create_date}} </small></p>
          Logged in as {{post.author}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% endblock %}
</div>