{% extends 'base.html' %}

{% block content %}
<button id="hide-btn" class="btn btn-primary"> hide/show</button>
<div class="row row-cols-1 row-cols-md-4  g-4">
  {% for post in object_list %}
  <div class="col">
    <div class="card mb-3 shadow p-3 hide">
      <div class="card-header bg-primary text-white text-center">
        <h3> BMW</h3>
      </div>
      <img src="{{post.image.url}}" class="card-img-top" alt="picture of bmw car" width="200" height="300">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text"> {{post.body}} </p>
        <a href="{% url 'detail-review' post.pk %}">
          <p class="card-text"><small class="text-muted">By {{post.author}} </small></p>
        </a>
        <div class="btn-change">
          <a href="{% url 'update-review' post.pk %}" class="btn btn-primary">Update </a>
          <a href="{% url 'delete-review' post.pk %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}