{% extends 'base.html' %}
{% block content %}
<!--Show image and intro text on the front page-->
<div class="hero">
    <div class="img-container">
        <div class="container fluid text-white bg-primary rounded top-text opacity-75 shadow p-3 mb-5">
            <h2 class="intro-text"> Welcome to bimmer reviewer, this is a site for all the bimmer lovers that want to
                share and review about their bimmer. Create an account to get started</h2>
        </div>
        <a href="#" class="btn bg-dark register-btn text-white">Register now </a>
        
    </div>
</div>
{% endblock %}