{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!--Show image and intro text on the front page-->
<div class="conatiner">
    <div class="row">
        <div class="col-sm-12">
            <div class="hero rounded">
                <div class="img-container bg-dark">
                    <div class="container fluid text-white bg-primary rounded top-text opacity-75 shadow p-3 mb-5">
                        <h1 class="intro-text"> Welcome to bimmer reviewer, this is a site for all the bimmer lovers
                            that
                            want to
                            share and review about their bimmer. Create an account to get started or click show reviews.
                        </h1>
                    </div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'home' %}" class="btn bg-primary register-btn text-white">Show the reviews</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="btn bg-primary register-btn text-white">Register now </a>
                    <a href="{% url 'home' %}" class="btn bg-primary register-btn text-white">Show reviews</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="text-center text-white bg-primary rounded"> Check out the meetup below</h3>
<!-- display the api map here-->
<div class="row">
    <div class="col-sm-12 col-md-12">
        <div id="map">
        </div>
    </div>
</div>
{% endblock %}