{% extends 'base.html' %}
{% block title %}
   Update review
  {% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--Update the database-->
{% if user.is_authenticated %}
{% if user.id == post.author.id%}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-4">
            <h3 class="display-3 text-center"> Update review</h3>
            <div class="form-group shadow">
                <form method="POST" class="form-control" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="create-container">
                        {{ form.title|as_crispy_field }}
                        {{ form.price|as_crispy_field }}
                        {{ form.year|as_crispy_field }}
                        {{ form.fuel_type|as_crispy_field }}
                        {{ form.category|as_crispy_field }}
                        {{ form.body|as_crispy_field }}
                        {{ form.image|as_crispy_field }}
                        <button class="btn btn-primary m-3"> Update review</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
Please log in
{% endif %}
{% else %}

{% endif %}
{% endblock %}