{% extends 'base.html' %}
{% block title %}
Update review
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<!--Update the database-->
{% if user.is_authenticated %}
{% if user.id == post.author.id%}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-6 offset-lg-3 p-4">
            <h1 class="display-3 text-center"> Update review</h1>
            <div class="form-group shadow">
                <form method="POST" class="form-control" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="create-container">
                        {{ form.title|as_crispy_field }}
                        {{ form.price|as_crispy_field }}
                        {{ form.year|as_crispy_field }}
                        {{ form.fuel_type|as_crispy_field }}
                        {{ form.category|as_crispy_field }}
                        {{ form.body|as_crispy_field }}
                        {{ form.image|as_crispy_field }}
                    </div>
                    <div class="update-container">
                        <button class="btn btn-primary m-3"> Update review</button>
                        <a href="{% url 'detail-review' post.pk %}" class="btn btn-danger move-btn"> Cancel </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--If user is not authorized or logged in as the relevant user that is editing post message below will display-->
{% else %}
<div class="row row-cols-1 row-cols-md-4">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
  <h1 class="text-center"> You can´t update this post because it have been created by another user </h1>
  </div>
</div>
{% endif %}
{% else %}
<div class="row row-cols-1 row-cols-md-4">
    <div class="col-md-6 offset-md-3 shadow p-3 rounded text-white bg-dark mt-md-5">
  <h2 class="text-center"> Please <a href="{% url 'account_login' %}">log in</a> to perform this action </h2>
  </div>
</div>
{% endif %}
{% endblock %}